<md-tab-group>
  <md-tab label="Publishers">
    <ams-create-user-form [userRoles]="userRoles" (onUserCreated)="onOperatorCreated($event)">
    </ams-create-user-form>

    <ams-user-list [users]="publishers"></ams-user-list>
  </md-tab>

  <md-tab label="Applications">
    <ams-create-application-form [publishers]="publishers"
                                 (onApplicationCreated)="onApplicationCreated($event)">
    </ams-create-application-form>

    <ams-application-list [applications]="applications"></ams-application-list>
  </md-tab>
</md-tab-group>
