@import "../shared/form-style";

.signin-form {
  margin-top: 40px;

  &__tip {
    display: flex;
    align-items: center;

    font-size: 14px;
    font-style: italic;
    color: #ccc;
    padding-left: 20px;
  }
}
