.signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-top: 40px;

  &__inputs {
    display: flex;
    flex-direction: column;
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }

  &__tip {
    display: flex;
    align-items: center;

    font-size: 14px;
    font-style: italic;
    color: #ccc;
    padding-left: 20px;
  }
}
