<md-card *ngIf="!editable" class="app-card" [ngClass]="application.type | lowercase">
  <md-card-title class="app-card__title">
    <md-icon *ngIf="application.type === 'WEBSITE'">web</md-icon>
    <md-icon *ngIf="application.type === 'ANDROID'">phone_android</md-icon>
    <md-icon *ngIf="application.type === 'IOS'">phone_iphone</md-icon>
    {{ application.type }}
  </md-card-title>

  <md-card-content>
    <div class="app-card__labels label">
      <span class="label__name">Name:</span>
      <span class="label__value">{{ application.name }}</span>
    </div>

    <div class="app-card__labels label">
      <span class="label__name">Owner:</span>
      <span class="label__value">{{ application.owner.name }}</span>
    </div>

    <div class="app-card__labels label">
      <span class="label__name">Content:</span>
      <div class="label__value app-types">
          <span *ngFor="let type of application.contentTypes">
            {{ type }}
          </span>
      </div>
    </div>
  </md-card-content>

  <md-card-actions class="app-card__buttons">
    <button type="button" md-button [color]="'primary'" (click)="onEdit()">
      <md-icon>edit</md-icon>
      Edit
    </button>

    <button type="button" md-button [color]="'warn'" (click)="onDelete()">
      <md-icon>delete</md-icon>
      Delete
    </button>
  </md-card-actions>
</md-card>


<md-card *ngIf="editable" class="app-card" [ngClass]="application.type | lowercase">
  <form #appForm="ngForm" (ngSubmit)="onUpdate(appForm)" class="app-card__form form">
    <md-card-content>
      <md-input-container>
        <input type="text" placeholder="Name" md-input [ngModel]="application.name" name="name"
               required minlength="2" maxlength="255"/>
      </md-input-container>

      <md-select class="form__select" placeholder="Application type" [ngModel]="application.type"
                 name="type" required>
        <md-option *ngFor="let appType of appTypes" [value]="appType">
          {{ appType }}
        </md-option>
      </md-select>
    </md-card-content>

    <md-card-actions class="app-card__buttons">
      <button type="submit" md-button [color]="'primary'">
        Update
      </button>

      <button type="button" md-button (click)="onCancelUpdate()">
        Cancel
      </button>
    </md-card-actions>
  </form>
</md-card>
