@import "../shared/form-style";

.new-app-form {
  margin-top: 20px;
  width: 600px;

  &__input-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}

.form__inputs {
  display: flex;
  flex-direction: column;
}
