.toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__logo {
    display: flex;
    align-items: center;
  }

  &__signin-info {
    display: flex;
    align-items: center;
  }
}

.error {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(244, 67, 54, 0.8);
}

.content-container {
  display: flex;
  justify-content: center;
}
