<md-toolbar>
  <div class="toolbar">
    <div class="toolbar__logo">
      <md-icon>trending_up</md-icon>
      <div>Ads management system</div>
    </div>

    <div *ngIf="user$ | async" class="toolbar__signin-info">
      <span>{{ (user$ | async).name }}</span>

      <button type="button" md-button [color]="'primary'" (click)="signOut()">
        Sign out
      </button>
    </div>
  </div>
</md-toolbar>

<div *ngIf="error" class="error">
  <div class="error__message">{{ error }}</div>
  <button type="button" md-icon-button (click)="closeErrorMessage()">
    <md-icon>close</md-icon>
  </button>
</div>

<main class="content-container">
  <router-outlet></router-outlet>
</main>
