<md-grid-list cols="5">
  <md-grid-tile *ngFor="let user of users">
    <md-card (click)="openUserDetails(user)">
      <md-card-content>
        <div>{{ user.name }}</div>
        <div>{{ user.email }}</div>
        <div>{{ user.role }}</div>
      </md-card-content>
      <md-card-actions>
        <button type="button" md-button (click)="onEditUser(user)">Edit</button>
        <button type="button" md-button (click)="onDeleteUser(user)">Delete</button>
      </md-card-actions>
    </md-card>
  </md-grid-tile>
</md-grid-list>
